.login-container {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    height: 100vh; background: #fff;
}
input { padding: 15px; margin: 10px 0; width: 80%; border: 1px solid #ccc; border-radius: 5px; }
.btn-login { padding: 15px; width: 85%; background: #007bff; color: white; border-radius: 5px; font-size: 16px; }